/*general*/

/* fuente*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Open+Sans&display=swap');

/*resetear los estilos por defecto del navegador*/
* {
    margin: 0;
    padding: 0;
}

/*fuente del body*/
body {
    font-family: 'Nunito Sans', sans-serif;
}



/*personalizar menu*/
header .menu{
    display: flex;
    justify-content: space-around;
    /*height: 100px;*/
    background-color: #c2e5df;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    position: sticky;
    top: 0;  
}

.menu nav {
    align-items: flex-end;
    display: flex;
    /*align-self: flex-end;
    margin-bottom: 10px;*/

}

/*posicional ul*/
.menu nav ul {
    list-style: none;
    display: flex;

    background-color: #ffb6ad;
    /*display: flex;*/
    /*align-self: flex-end;*/
    border-radius: 5px;
    /*padding: 5px 20px 5px 20px;*/
}


/*personalizar li*/
.menu nav ul li {
    list-style: none;
    margin: 0px 15px;
    
    

}



/*tamaño del logo*/
.menu img {
    width: 130px;

}




/*personalizar fuente menu de navegacion*/
.menu nav ul li a {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: 1000;
    color: #5e554c;
}

/*carrusel*/
.carrusel img {
    width: 100%;
}


/*personalizar titulos y subtitulos*/
.titulos {
    font-size: 3rem;
    text-align: center;
}
.subtitulos {
    font-size: 1.3rem;
    text-align: center;
    padding: 25px;
}

/*personalizar parrafos*/
p {
    text-align: justify;
    padding: 20px;
    color: #5e554c;
}

h3 {
    margin-top: 20px;
    text-align: center;
    background-color: #ffb6ad;
}

h4,h5 {
    margin: 20px;
}

/*Colocar imagenes al lado de ingredientes y procedimiento*/

main .recetas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
main .recetas .reverse {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

/*home/*
/*personalizar imagenes de home*/
.recetas img {
    width: 500px;
    margin-left: 10px;
    border-radius: 100%;
}
.recetas ul li {
    margin-left: 10px;
}

.recetas .descripcion-receta {
    width: 700px;
}
.recetas .descripcion-receta ol li {
    margin-left: 10px;
    text-decoration: none;
    list-style-type: none;
}



.recetas .descripcion-receta ul li {
    margin-left: 10px;
    text-decoration: none;
    list-style-type: none;
}

/*catalogo*/

.productos-padre {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.productos-padre p {
    width: 500px;

}

/*personalizar imagenes de catalogo*/
.catalogo img {
    width: 20%;
}
/*personalizar boton "me interesa" de catalogo*/
.catalogo a {
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
    font-weight: 1000;
    background-color:#c2e5df;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
   
    
}

/*incorporacion*/
/*personalizar imagenes*/
.incorporacion img {
    width: 30%;
    margin-left: 10px;
}

.incorporacion ul li {
    margin-left: 10px;
}

.incorp-pres-padre {
    display: flex;
    justify-content: center;
    padding: 30px;
    align-content: center;
    padding: 25px;
    
}

.incorp-pres-padre img {
    width: 500px;
    border-radius: 5%;
    
}

.incorp-pres-padre p {
    width: 300px;
    font-size: 1.3rem;
    text-align: center;
    
}
.beneficio-padre {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-items: center;
    padding: 25px;
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    background-color: #ffb6ad;
    
    /*display: flex;
    justify-content:center;
    padding: 30px;
    align-content: center;*/
}
.beneficio-padre img {
    width: 300px;
    border-radius: 5%;
}

.beneficio-padre ul li {
    list-style-type: none;
    width: 300px;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 1000;
    color: #5e554c;


}


.requisito-padre {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
}

.requisito-padre img{
    width: 500px;
    border-radius: 5%;
}

.requisito-padre ul li {
    list-style-type: none;
    width: 300px;
    font-size: 1.3rem;
    text-align: center

}

/*nosotros*/
/*personalizar imagenes*/
.nosotros-padre img {
    width: 70%;
    border-radius: 5%;
}

.nosotros-padre {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
}

/*personalizar formulario*/
.caja-formulario {
    text-align: center;
}
.caja-formulario div {
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.caja-formulario div label {
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;  
}
.caja-formulario div input {
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgba(172, 172, 172, 0.651);
}

.caja-formulario div textarea {
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgba(172, 172, 172, 0.651);
}

/*personalizar pie de pagina*/
.autor {
    font-size: 0.8rem;
    text-align: center;
}

/*personalizar logos de redes*/
.logos-redes {
    text-align: center;
    
}




/*MEDIA QUERIES*/
/*tablet*/
@media only screen and (max-width: 768px){
.menu {
    flex-direction: column;
    padding: 10px 0px;
    align-items: center;
    
}

.recetas {
    flex-direction: column;
    align-items: center;
}

main .recetas .reverse {
    flex-direction: column;
    align-items: center;
    
}

.recetas img {
    width: 50%;
}

.recetas .reverse img {
    width: 50%;
}

.recetas .descripcion-receta {
    width: 100%;

}


.incorp-pres-padre {
    flex-direction: column;
    align-items: center;
}

.incorp-pres-padre img {
    margin: 0;
}

.beneficio-padre {
    grid-template-columns: repeat(1,1fr);
    width: 84%;
}

.requisito-padre {
    grid-template-columns: repeat(1,1fr);
}

.productos-padre {
    margin: 20px;
    flex-direction: column;
}

.productos-padre img {
    width: 30%;
}

}



/*mobile*/
@media only screen and (max-width: 576px) {
    /*Estilos generales*/
.menu {
    flex-direction: column;
    padding: 10px 0px;
    align-items: center;
}

.menu img {
    width: 30%;
}

.recetas {
    flex-direction: column;
    align-items: center;
}

main .recetas .reverse {
    flex-direction: column;
    align-items: center;
    
}

.recetas img {
    width: 50%;
}

.recetas .reverse img {
    width: 50%;
}

.recetas .descripcion-receta {
    width: 100%;

}

.incorp-pres-padre {
    flex-direction: column;
    align-items: center;
}

.incorp-pres-padre img {
    margin: 0;
}

.beneficio-padre {
    grid-template-columns: repeat(1,1fr);
    width: 84%;
}

.requisito-padre {
    grid-template-columns: repeat(1,1fr);
}

.productos-padre {
    margin: 20px;
    flex-direction: column;
}

.productos-padre img {
    width: 50%;
}

}